version: "3.7"

services:
  validator:
    image: registry.gitlab.com/rarimo/rarimo-core:ba434e3e818e50796042b5b0b5a1a6d74e6f2ada
    entrypoint: sh -c "rarimo-core start --home=/usr/local/bin/genesis"
    environment:
      - Solana_ADDR_ENV=solana-saver:8000
    volumes:
      - ./genesis:/usr/local/bin/genesis

  solana-saver:
    image: registry.gitlab.com/rarimo/sol-saver-svc:e7878a49b4680c2844a03f573467a7a290d2c1b1
    restart: unless-stopped
    depends_on:
      - solana-saver-db
    volumes:
      - ./configs/sol-saver.yaml:/config.yaml
    environment:
      - KV_VIPER_FILE=/config.yaml
    entrypoint: sh -c "sol-saver-svc migrate up && sol-saver-svc run service"
  solana-saver-db:
    image: tokend/postgres-ubuntu:9.6
    restart: unless-stopped
    environment:
      - POSTGRES_USER=solana
      - POSTGRES_PASSWORD=solana
      - POSTGRES_DB=solana
      - PGDATA=/pgdata
    volumes:
      - solana-data:/pgdata

  signer:
    image: registry.gitlab.com/rarimo/signer-svc:831023d79333ce087b47a102ca55b60e9949dd50
    restart: unless-stopped
    depends_on:
      - signer-db
      - validator
    volumes:
      - ./configs/signer.yaml:/config.yaml
    environment:
      - KV_VIPER_FILE=/config.yaml
    entrypoint: sh -c "signer-svc migrate up && signer-svc run service"
  signer-db:
    image: tokend/postgres-ubuntu:9.6
    restart: unless-stopped
    environment:
      - POSTGRES_USER=signer
      - POSTGRES_PASSWORD=signer
      - POSTGRES_DB=signer
      - PGDATA=/pgdata
    volumes:
      - signer-data:/pgdata

volumes:
  solana-data:
  signer-data: